<div id="projects">My Projects
    <div id="create-projects">
      <a href="/projects/new">Add New Project</a>
    </div>
</div>

<div class="all-projects">
  <% @projects.each do |project| %>
    <div class="projects-container">
      <a href="<%= project_path(project) %>">
        <div class="project-title">
          <%= project.project_name %>
        </div>
      </a>
    </div>
  <% end %>
</div>