#menu {
    float: right; /* or float: left */
    margin: 0 10px 0 0;
}

#menu li {
    float: left;
    list-style: none;
}

#menu li a {
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    padding: 17px 25px 15px 25px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    color: #fff;
    background-color: #3b2c2c;
}

/*Borders between each button */
#menu li + li {
    border-left: 1px solid #000;
}

/*Borders on both sides */
#menu li:first-child a {
    border-left: 1px solid #000;
}

#menu li:last-child a {
    border-right: 1px solid #000;
}

#right_align {
    text-align: right;
}


td:first-child {
    text-align: right;
    padding-right: 3px;
}

td {
    padding-top: 3px;
}