/*
 *= require_tree ./vendor
 *= require_tree ./modules
 *= require_self

 Available Fonts - Google Fonts
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
 */

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#header_container,
#nav_container,
#content_container {
  margin: auto;
  width: 99%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

header {
  border-bottom: black solid;
}

nav {
  overflow: hidden;
}

#content_container {
  height: 70%;
  padding-top: 3%;
  text-align: center;
  overflow: auto;
}

footer {
  position: fixed;
  clear: both;
  width: 100%;
  background-color: #FFFFFF;
  margin: auto;
}

.membership-table {
  margin: auto;

  td, th {
    border: solid black 2px;
    padding: .75em;
    text-align: left;
  }

  th:nth-child(2) {
    width: 75%;
  }

  tr:nth-child(2n + 1) {
    background-color: lightgray;
  }

  tr:first-child {
    background-color: dimgray;
  }
}

.membership-form {
  width: 10%;
  display: inline;
  padding: .5em;
}

#membership-form-wrapper {
}