/*
 *= require_tree ./vendor
 *= require_tree ./modules
 *= require_self


 Available Fonts - Google Fonts
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', sans-serif;
 */

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#header_container,
#nav_container,
#content_container {
  margin: auto;
  width: 99%;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

header {
  border-bottom: black solid;
}

nav {
  overflow: hidden;
}

#content_container {
  padding-top: 3%;
  text-align: center;
  overflow: auto;
}

footer {
  clear: both;
  width: 100%;
  background-color: #FFFFFF;
  float: right;
  margin-right: 10%;

}

.membership-table {
  margin: auto;

  td, th {
    border: solid black 2px;
    padding: .75em;
    text-align: left;
  }

  th:nth-child(2) {
    width: 75%;
  }

  tr:nth-child(2n + 1) {
    background-color: lightgray;
  }

  tr:first-child {
    background-color: dimgray;
  }
}

.membership-form {
  width: 10%;
  display: inline;
  padding: .5em;
}

#membership-form-wrapper {
}

.logout {
  margin-top: 40px;
  margin-right: 25px;
  float: right;
  margin-bottom: -25px
}

.username {
  margin-top: -30px;
  margin-right: 25px;
  float: right;

}

.all-projects {
  width: 100%;
}

#projects {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: left;
  width: 100%;
  margin-left: 10%;
}

.container {
  margin-left: 30px;
}

.project-title {
  padding-top: 15px;
  height: 50px;
  text-align: left;
  padding-left: 20px;
}

#create-projects {
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
  background-color: steelblue;
  border-radius: 5px;
  margin-right: 20%;
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
  a:link {
    text-decoration: none;
  }
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

#create-projects:hover {
  margin-left: 145px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  text-color: black;
  a:visited {
    color: black;
  }
  a:link {
    color: black;
  }
  a:link {
    text-decoration: none;
  }
}

.projects-container {
  margin-left: 10%;

  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 80%;
  height: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  a:visited {
    color: black;
  }
  a:link {
    color: black;
  }
  a:link {
    text-decoration: none;
  }
  border: 1px solid rgba(100, 0, 0, .2);
  margin-bottom: 10px;
}

.projects-container:hover {
  font-weight: bold;
  background-color: steelblue;
  border: 1px solid rgba(100, 0, 0, .2);
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

.events {
  padding: 10px;
  margin: auto;
  border: 1px solid black;
  width: 90%;

  td, th {
    border: solid black 2px;
    padding: .75em;
    text-align: left;
  }

  th {
    background-color: dimgray;

  }

  tr:nth-child(2n + 1) {
    background-color: lightgray;
  }

  tr:first-child {
  }

}

pre {
  background-color: lightgrey;
}